.container {
  width: 100%;
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.App {
  font-family: "sans-serif";
  text-align: center;
}
.heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 25px;
}

.column-name{
  display: flex;
}

.heading1 {
  padding-left: 500px;
  padding-right: 50px;
}
.heading2 {
  padding-left: 150px;
  padding-right: 100px;
}
.heading3 {
  padding-left: 60px;
}

